.topbar-container {
    position: relative;
  }
  
  .topbar-outer-class {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .top-bar-search {
      padding-left: 20px;
      
      .search {
        width: 342px;
        height: 44px;
        display: flex;
        align-items: center;
        gap: 9px;
        background-color: #F3F4F6;
        padding: 8px;
        
        img {
          width: 24px;
          height: 24px;
        }
        
        .searchbar {
          width: 271px;
          height: 21px;
          border: none;
          background-color: #F3F4F6;
          font-family: Glegoo, serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          vertical-align: middle;
          color: #9CA3AF;
          outline: none;
        }
      }
    }
    
    .top-bar-profile {
      width: 160px;
      height: 48px;
      display: flex;
      gap: 17px;
      padding-right: 20px;
      cursor: pointer;
      
      .topbar-proflie-pic {
        width: 40%;
        height: 100%;
        
        .profilepic {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      
      .topbar-profile-name {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        
        p {
          font-family: Glegoo, serif;
          font-weight: 700;
          font-size: 14px;
          line-height: 21px;
          vertical-align: middle;
          color: #151A34;
        }
      }
    }
  }
  
  .menu-options {
    display: none;
    position: absolute;
    top: 72px;
    right: 20px;
    background-color: white;
    z-index: 1000;
    &.menu-active {
        display: flex;
    }
  }